@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
$f: 'Raleway', sans-serif;

$gr: #10B582;
$or: #FA9F42;
$wt: #E5E5E5;
$bl:  #353A5A;

$sm:360px;
$md:640px;
$xl:768px;
$xxl:926px;
